@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {
	height: 100%;
	font: 14px/18px 'Times New Roman', Times, sans-serif;
	background-color: #fff;
}

ol, ul {list-style: none;}
a, a:hover {text-decoration: none;}

* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {clear: both;}

.clearfix {
    *zoom: 1;
}

.left {float: left;}
.right {float: right;}
.text-right {text-align: right;}
.text-left {text-align: left;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
  width: 960px;
	max-width: 90%;
  margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

header {
	position: absolute;
	padding: 20px 0;
	top: 20px;
	width: 100%;
}
.logo, .btn, .features-item img {
	transition: all .2s ease-in-out;
}

.logo {
  float: left;
}

nav {
  float: right;
  padding-top: 5px;

}

nav li {
  float: left;
  margin-right: 40px;
}

nav li:last-child {margin-right: 0;}

nav li a {
	display: block;

text-shadow: 0 2px 4px rgba(16, 16, 16, 0.75);
color: #ffffff;
font: 14px/30px Roboto;
}

#touch-menu {
	display: block;
	font-size: 50px;
	color: white;
	text-shadow: 4px 4px 2px rgba(16, 16, 16, 0.75);
}
#touch-menu {
	display: none;
	padding: 12px 15px;
}

nav li a:hover, #touch-menu:hover {color: #c19663;}

.intro {
  height: 800px;
	height: 100%;
  padding-top: 514px;
	padding-bottom: 90px;
  background: #222 url("../img/bg1.jpg") 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  	background-size: cover;
}

.intro h1 {
  text-shadow: 0 2px 4px rgba(16, 16, 16, 0.75);
  color: #ffffff;
  font: 51px/30px Abril Fatface;
  margin-bottom: 20px;
}

.intro p {
  text-shadow: 0 2px 4px rgba(16, 16, 16, 0.75);
  color: #ffffff;
  font: 18px Roboto;
  margin-bottom: 40px;
}

.btn {
	width: 220px;
	height: 60px;
	border-radius: 3px;
	border: 3px solid #c19663;
	color: #c19663;
	background-color: rgba(0, 0, 0, 0);
	font: 18px/30px Roboto;
	text-transform: uppercase;
}

.btn:hover {
	border: 6px solid #c19663;
	background-color: #c19663;
	color: #fff;
}

.dishes {
	height: 600px;
	height: 100%;
	padding-bottom: 100px;
	text-align: center;
}
.dishes-item {width: 47%;float: left;margin-right: 6%;}
.dishes-item:last-child {margin-right: 0;}
.dishes h1 {
	margin-top: 70px;
	margin-bottom: 40px;
	color: #333333;
	font: 42px/30px "Abril Fatface";
}

.dishes p {
	margin-top: 30px;
	color: #333333;
	font: 21px/30px Roboto;
}

.quotes {
	height: 400px;
	height: 100%;
	padding-bottom: 235px;
	background: #222 url("../img/img1.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.quotes p:first-child {
	padding-top: 78px;
	color: #f5eae9;
	font: italic 21px/30px Roboto;
}

.quotes p:last-child {
	color: #ffffff;
	font: 15px/30px Roboto;
}

.features {
	height: 400px;
	height: 100%;
	padding-bottom: 95px;
}

.features h1 {
	color: #333333;
	font: 42px/30px "Abril Fatface";
	text-align: center;
	margin-top: 60px;
	margin-bottom: 71px;
}

.features-item {
	float: left;
	width: 46%;
	margin-right: 4%;
}

.features-item p:first-child {
	margin-right: 0;
}

.features-item  h3 {
	color: #333333;
	font: 21px/30px Roboto;
	margin-bottom: 15px;
}

.features-item p {
	color: #333333;
	font: 15px Roboto;
	margin-top: 40px;
}

.features img {
	float: left;
	margin-right: 20px;
}
.features img:hover, .logo:hover {
	-webkit-transform: translateY(-5px);
		-moz-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		-o-transform: translateY(-5px);
		transform: translateY(-5px);
}

.features-bg {
	height: 400px;
	background: #222 url("../img/img2.png") center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.features-bg h1 {
	margin-top: 288px;
	text-shadow: 0 4px 6px rgba(16, 16, 16, 0.75);
	color: #ffffff;
	font: 42px/40px "Abril Fatface";
}

.about {
	height: 400px;
	height: 100%;
	background: #222 url("../img/img3.png") center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 105px;
	padding-bottom: 100px;
}

.about-item {
	padding-top: 62px;
	padding-bottom: 55px;
	height: 190px;
	height: 100%;
	background: #222;
	text-align: center;
}

.about-item p {
	text-shadow: 0 4px 6px rgba(16, 16, 16, 0.75);
	color: #ffffff;
	font: 21px Roboto;
}

.about-item h1 {
	text-shadow: 0 4px 6px rgba(16, 16, 16, 0.75);
	color: #ffffff;
	font: 42px "Abril Fatface";
}

.copyright {
	height: 120px;
	height: 100%;
	background: #333333;
	padding-top: 25px;
	padding-bottom: 100px;

}

.copyright p {
	color: #fefefe;
	font: 15px Roboto;
	padding-top: 25px;
	padding-left: 20px;
	float: left;
}

.copyright img {
	float: left;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.intro {  padding-top: 314px;}
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 50px;
		padding: 10px 0;
		background: #2e2e2e;
	}
	.logo img {
		height: 37px;
		width: 40px;
	}
	.nav {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		display: none;
		padding-top: 0;
	}
	.nav li {float: none;margin-right: 0;}
	.nav li a {
		color: #fff;
		border-top: 1px solid #b1b0b0;
		border-left: 3px solid transparent;
		background: #3d3d3d;
		padding-left: 5px;
	}
	.nav li:first-child a {border-top: none;}
	.nav li a:hover {
		color: #c19663;
		border-left: 3px solid #c19663;
		background: #505050;
	}
	#touch-menu {
		display: block;
		float: right;
		height: 50px;
		margin: -5px 0;
	}
	.dishes-item {width: 100%;margin-right: 0;margin-bottom: 35px;}
	.dishes-item:last-child {margin-bottom: 0;}
	.features-item {
		width: 100%;
		margin-right: 0;
	}
	.dishes-item img {width: 250px;height: 249px;}
	.features-item:last-child {margin-top: 30px;}
	.nav-footer{display: none;}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.dishes-item img {width: 200px;height: 199px;}
}
@media only screen and (max-width : 320px) {
	.intro {padding-top: 200px;}
}
